html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*,
:before,
:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100vh;
  table-layout: fixed;
}

.footer {
  padding-bottom: 30px;
}

.container {
  margin: auto;
  max-width: 1050px;
  padding: 0 0 10px;
}

body {
  color: #83a7a5;
  background-color: #fff;
  font-size: 14px;
  line-height: 1.57;
  font-family: "Roboto", sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: #83a7a5;
  text-decoration: none;
}

a:hover {
  color: #a1bcbb;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  color: #0f5f5c;
  font-weight: 300;
  text-align: center;
}

h1, .h1 {
  font-size: 38px;
  margin-bottom: 0;
  color: white;
  text-align: left;
}

h2, .h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

h2:after, .h2:after, h4:after, .h4:after {
  content: "";
  display: block;
  width: 65px;
  height: 1px;
  background-color: #6fb048;
  margin: 10px auto;
}

h3, .h3 {
  font-size: 32px;
  margin-bottom: 28px;
  text-align: left;
}

h4, .h4 {
  font-size: 22px;
  margin-bottom: 1em;
  margin-top: 80px;
}

h5, .h5 {
  font-size: 28px;
  margin-bottom: 1em;
}

h6, .h6 {
  font-size: 50px;
  margin: 1em;
  color: white;
}

.text-lg {
  font-size: 16px;
}

.text-md, .contacts-list li {
  font-size: 15px;
  text-align: center;
}

.text-sm {
  font-size: 14px;
}

.text-highlight {
  color: #6fb048;
}

.text-highlight-add, .contacts-header, .contacts-list li {
  color: #0f5f5c;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-inverse {
  color: white !important;
}

.ul-main {
  list-style-image: '<i class="fa fa-check-circle-o" aria-hidden="true"></i>';
  line-height: 2.57;
}

.btn {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  font-weight: normal;
  color: #fff;
  font-size: 13px;
  background: #83a7a5;
  border: 1px solid #83a7a5;
  border-radius: 2px;
  padding: 15px 20px;
  text-transform: uppercase;
}

.btn:hover {
  color: #fff;
  background: #6fb048;
  border-color: #6fb048;
}

.btn-primary {
  background-color: #6fb048;
}

.btn-primary-dark {
  background-color: #49732f;
}

.btn-primary:hover {
  opacity: 0.5;
}

.btn-aditional {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  padding: 10px 15px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control, .form-control-input, .button-in-form {
  width: 100%;
  display: inline-block;
  color: #83a7a5;
  font-size: 13px;
  background-color: #eef1ec;
  border: 1px solid #eef1ec;
  border-radius: 3px;
  height: 36px;
  line-height: 1.4;
  padding: 8.9px 15px;
}

.form-control::-webkit-input-placeholder, .form-control-input::-webkit-input-placeholder, .button-in-form::-webkit-input-placeholder {
  color: #83a7a5;
  opacity: 1;
}

.form-control::-moz-placeholder, .form-control-input::-moz-placeholder, .button-in-form::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control:-ms-input-placeholder, .form-control-input:-ms-input-placeholder, .button-in-form:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form-control-textarea {
  height: auto;
  color: red;
}

.form-label {
  display: block;
  color: #eaeef1;
  font-size: 14px;
  margin-bottom: 4px;
}

.form-control-input {
  width: 84%;
  float: left;
  border-radius: 3px 0 0 3px;
}

.button-in-form {
  background: #eef1ec url(../images/icon-button.png) no-repeat center;
  width: 16%;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.button-in-form:hover {
  background-color: #0f5f5c;
  opacity: 0.7;
}

.row {
  margin: 0 -30px;
}

.row:before, .row:after {
  content: '';
  display: table;
}

.row:after {
  clear: both;
}

[class*="col-"] {
  padding: 0 30px;
  float: left;
}

@media all and (min-width: 550px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-offset-1 {
    margin-left: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 16.66667%;
  }
  .col-xs-offset-3 {
    margin-left: 25%;
  }
  .col-xs-offset-4 {
    margin-left: 33.33333%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66667%;
  }
  .col-xs-offset-6 {
    margin-left: 50%;
  }
  .col-xs-offset-7 {
    margin-left: 58.33333%;
  }
  .col-xs-offset-8 {
    margin-left: 66.66667%;
  }
  .col-xs-offset-9 {
    margin-left: 75%;
  }
  .col-xs-offset-10 {
    margin-left: 83.33333%;
  }
  .col-xs-offset-11 {
    margin-left: 91.66667%;
  }
  .col-xs-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 768px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 980px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media all and (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

.block {
  background-size: cover;
  background-position: 50% 50%;
  display: table;
  width: 100%;
  table-layout: fixed;
}

.block-header {
  display: table-header-group;
  height: 1%;
}

.block-content {
  display: table-row-group;
}

.block-footer {
  display: table-footer-group;
  height: 1%;
}

.block-inner {
  display: table-cell;
  vertical-align: middle;
}

.block-collapse {
  padding: 0;
}

.block-fill-height {
  height: 100vh;
}

.block-inverse {
  color: #fff;
}

.block-overlay {
  position: relative;
  z-index: 1;
}

.block-overlay:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #2d6e70;
  opacity: 0.9;
}

.block-overlay-header {
  background-image: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.block-overlay-main:after {
  background-color: #eef1ec;
}

.ul-menu {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ul-menu li {
  display: inline-block;
  margin-left: 25px;
  font-family: "Montserrat";
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.p10 {
  padding: 10px 0;
}

.p20 {
  padding: 20px 0;
}

.p30 {
  padding: 30px 0;
}

.p40 {
  padding: 40px 0;
}

.p50 {
  padding: 50px 0;
}

.p60 {
  padding: 60px 0;
}

.p70 {
  padding: 70px 0;
}

.p80 {
  padding: 80px 0;
}

.p90 {
  padding: 90px 0;
}

.p100 {
  padding: 100px 0;
}

.p110 {
  padding: 110px 0;
}

.p120 {
  padding: 120px 0;
}

.p130 {
  padding: 130px 0;
}

.p140 {
  padding: 140px 0;
}

.p150 {
  padding: 150px 0;
}

.p160 {
  padding: 160px 0;
}

.p170 {
  padding: 170px 0;
}

.p180 {
  padding: 180px 0;
}

.p190 {
  padding: 190px 0;
}

.p200 {
  padding: 200px 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.text-left, .contacts-list li {
  text-align: left;
}

.text-right {
  text-align: right;
}

.inverse {
  color: white !important;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.image-wrap img {
  width: 100%;
  height: auto;
}

.image-wrap-static img {
  width: auto;
  height: auto;
}

.margin-collapse {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

.logo, .phone {
  margin-right: 20px;
  padding: 10px 0;
}

.header {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  padding: 30px 0;
}

.button-adaptive {
  float: right;
  display: none;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border: solid 3px #83a7a5;
  text-align: center;
  padding: 10px;
}

.button-adaptive span {
  display: inline-block;
  width: 100%;
  height: 5px;
  margin-bottom: 10px;
  background-color: #83a7a5;
}

.header-nav-inverse a {
  color: #83a7a5;
}

.header-nav-inverse a:hover {
  color: #6fb048;
}

.header-menu-link {
  color: white;
  opacity: 0.7;
  text-transform: uppercase;
  font-size: 13px;
}

.header-menu-link-active {
  opacity: 1;
}

.icon-lg img, .icon-md img, .icon-sm img {
  height: 100%;
  width: auto;
}

.icon-lg {
  height: 52px;
}

.icon-md {
  height: 44px;
}

.icon-sm {
  height: 32px;
  display: inline-block;
  float: left;
  margin-right: 6px;
}

.ul-main li {
  list-style: none;
  padding-left: 30px;
  background: url(../images/icon-list.png) no-repeat left center;
}

.align-phone-picture {
  margin: 10px 0 -85px -50px;
}

.text-quote {
  font-family: 'Merriweather';
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
}

.price {
  width: 70%;
  margin: 0 auto;
}

.price-item {
  float: left;
  width: 33%;
  border: 1px solid #c1d3d2;
  border-radius: 3px 0 0 3px;
  margin-left: -1px;
  padding: 30px;
}

.text-price {
  color: #0f5f5c;
  font-family: 'Montserrat';
  font-size: 65px;
  line-height: 40px;
  margin-top: 25px;
}

.text-highlight-add, .contacts-header, .contacts-list li {
  color: #0f5f5c;
  margin-bottom: 25px;
}

.text-email {
  color: #0f5f5c;
  font-size: 18px;
}

.footer .container {
  border-top: solid 1px #eef1ec;
  padding: 20px 0 20px 0;
}

.soc-icons {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 18px;
  border-radius: 15px;
  color: white;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
}

.soc-icons-twitter {
  background-color: #55acee;
}

.soc-icons-facebook {
  background-color: #3b5998;
}

.soc-icons-instagram {
  background-color: #3f729b;
}

.soc-icons-dribble {
  background-color: #ea4c89;
}

.soc-icons-github {
  background-color: #333;
}

.contacts {
  padding: 40px;
  border: 2px dashed #c1d3d2;
}

.contacts-header {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.contacts-list {
  list-style: none;
}

.contacts-list li {
  margin-left: 7px;
  text-indent: -7px;
  margin-bottom: 0;
}

.width-half {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .container {
    text-align: center;
    padding: 5px;
  }
  .text-left, .contacts-list li, .text-right {
    text-align: center;
  }
  .price, .price-item {
    width: 100%;
  }
  .header-nav {
    display: none;
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #0f5f5c;
    padding: 20px;
  }
  .header-nav-inverse {
    color: white;
  }
  .header-nav .header-menu {
    display: block;
    margin: 0;
    margin-bottom: 50px;
  }
  .header-nav .header-menu .header-menu-link {
    font-size: 2em;
  }
  .button-adaptive {
    display: block;
  }
  .button-close-adaptive {
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    cursor: pointer;
    top: 15px;
    left: -75px;
  }
  .button-close-adaptive span {
    display: inline-block;
    height: 5px;
    width: 40px;
    background-color: #fff;
    position: absolute;
    top: 20px;
    left: 5px;
  }
  .button-close-adaptive span:first-child {
    transform: rotate(45deg);
  }
  .button-close-adaptive span:last-child {
    transform: rotate(315deg);
  }
  .button-close-adaptive:hover {
    opacity: 0.7;
  }
  .width-half {
    width: 100%;
  }
}
